.App {
  text-align: center;
  height:  100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parents{
  
}

.person {
  min-height: 50px;
  width: 100px;
  padding: 5px;
  border: grey;
  border-width: 5px;
  border-radius: 5px;
}

.male {
  background-color: lightblue;
}

.female{
  background-color: lightpink;
}